* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/*#### Mobile Layout ####*/

/* Navbar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-bar img {
    width: 63px;
    height: 38px;
    object-fit: contain;
}

.nav-link {
    display: flex;
    gap: 20px;
}

.nav-links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

/*---- Body -----*/

.banner-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.banner-img {
    width: 100%;
}

.banner-text {
    width: 100%;
    margin-top: 20px;
}

/*--- plants ---*/
.plants-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.plants-header {
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;
    margin-inline: auto;
}

.plants-header h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plants-header h2 span {
    color: #E95A08;
}

.plants-header p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.plant-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.plant-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.plant-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.plant-card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.plant-card .price {
    font-weight: bold;
    margin-bottom: 12px;
}

.plant-card button {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.plant-card button:hover {
    background-color: #E95A08;
}


/* Flower lover */
.flower-lover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
}

.lover-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.review h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}

.review ul {
    padding-left: 20px;
}

.review ul li {
    margin-bottom: 10px;
    color: #5a5a5a;
    line-height: 1.6;
}

/* Desktop Layout */
@media (min-width: 992px) {

    /* Navbar */
    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-size: 16px;
    }

    .nav-bar {
        padding: 24px 64px;
    }

    /* Banner */
    .banner-section {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 64px;
        gap: 40px;
    }

    .banner-img,
    .banner-text {
        flex: 1;
        margin-top: 0;
    }

    .banner-text {
        max-width: 500px;
        text-align: left;
        align-self: flex-start;
    }

    /* Plans */
    .plant-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Flower lover */
    .flower-lover {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 80px 64px;
        gap: 60px;
    }
    
    .lover-img, .review {
        flex: 1;
    }
}